[project]
	description = Source Code for Go In Action examples
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kimifdw (kimifdw)
[access "refs/for/refs/*"]
	read = group user/kimifdw (kimifdw)
	push = group user/kimifdw (kimifdw)
	label-Code-Review = -2..+2 group user/kimifdw (kimifdw)
	label-Verified = -1..+1 group user/kimifdw (kimifdw)
	rebase = group user/kimifdw (kimifdw)
	removeReviewer = group user/kimifdw (kimifdw)
	submit = group user/kimifdw (kimifdw)
[access "refs/heads/*"]
	read = group user/kimifdw (kimifdw)
	create = group user/kimifdw (kimifdw)
	push = +force group user/kimifdw (kimifdw)
	pushMerge = group user/kimifdw (kimifdw)
[access "refs/tags/*"]
	push = +force group user/kimifdw (kimifdw)
	pushTag = group user/kimifdw (kimifdw)
	pushSignedTag = group user/kimifdw (kimifdw)
